@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body{
    background-color: rgb(233, 239, 241);
    /* margin: 0; */
}

#navbar{
    
    justify-content: space-between;
    display: flex;
    align-items: center;
    margin: 10px;
    padding: 0px 50px;
    height: 100px;
    background-color: #186F65; 
    border-radius: 15px;
}

#navbar #text{
    font-family: "Montserrat", sans-serif;
    font-size: 25px;
    font-weight: 600;
    color: white;
}

#navbar ul{
    display: flex;
}

#navbar ul li{
    font-family: "Montserrat", sans-serif;
    list-style-type: none;
    margin: 0px 20px;
    font-size: 25px;
    font-weight: 600;
    color: white;
}

#content-1{
    background-color: #186F65;
    height: 800px;
    margin: 10px;
    padding: 0px 100px;
    border-radius: 15px;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
}

#content-1 #about-me{
    width: 500px;
    height: 500px;
    background-color: rebeccapurple;
}

#content-1 #pic-of-me{
    width: 500px;
    height: 500px;
    background-color: red;
}