@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

a{
    text-decoration: none;
}

.navbar{
    margin: 0 20px;
    padding: 10px 20px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}

.navbar h1{
    font-size: 2rem;
}

.navbar a{
    color: #1e1e1e;
}

.navLinks{
    display: flex;
    gap: 50px;
    font-size: 1.4rem;
}

#aboutMe{
    background-color: #1e1e1e;
    border-radius: 25px;
    margin: 0px 20px;
    padding: 160px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10vh;
}

.imgProfile img{
    margin: 0 50px;
    width: 40vh;
    border-radius: 50%;
    background: transparent;
}

.profileDesc{
    margin: 0 50px;
    color: white;
    width: 60vh;
    font-size: 1.2rem;
    text-align: justify;
}

.socialMedia{
    display: flex;
    gap: 30px;
}

.socMedCard{
    width: 50px;
    height: 50px;
    border-radius: 10px;
}

.socMedCard img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profileDesc h3{
    color: #f7de00;
}

#expertise{
    border-radius: 25px;
    margin: 10px 20px;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8vh;
}

#expertise h1{
    font-size: 3rem;
}

.cardsContainer{
    display: flex;
    justify-content: space-between;
    margin: 0 20px;
    gap: 5vh;
}

.cardExpertise{
    background-color: #1e1e1e;
    border-radius: 25px;
    width: 30vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

.cardExpertise h3{
    font-size: 1.5rem;
    color: white;
    margin-bottom: 10px;
}

.cardExpertise img{
    width: 100%;
    height: 100%;
    border-radius: 25px 25px 0 0;
    object-fit: cover;
}

.expertiseImageContainer{
    width: 100%;
    height: 90%;
}

#techs{
    background-color: #1e1e1e;
    border-radius: 25px;
    margin: 10px 20px;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#techs h1{
    color: white;
    font-size: 3rem;
}

#techs h2{
    color: #f7de00;
}

.techRow{
    width: 90vw;
    margin: 25px 0;
    display: flex;
    justify-content: center;
    gap: 4vw;
    color: white;
}

.techColLeft{
    width: 40%;
    height: 100%;
    text-align: right;
}

.techColRight{
    width: 40%;
    height: 100%;
    text-align: left;
}

.techDivider{
    background-color: white;
    width: 10px;
}

#portfolioShowcase{
    border-radius: 25px;
    margin: 0px 20px;
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5vh;
}

#portfolioShowcase h1{
    color: #1e1e1e;
    font-size: 3rem;
}

.portoCardsContainer{
    width: 90vw;
    margin: 0px 20px;
    display: grid;
    justify-content: space-evenly;
    align-items: center;
    grid-template-columns: auto auto auto;
}

.portoCard{
    width: 25vw;
    height: 50vh;
    border-radius: 25px;
    margin: 20px;
}

.portoCard img{
    width: 100%;
    height: 100%;
    border-radius: 25px;
    object-fit: cover;
}

#footer{
    background-color: #1e1e1e;
    border-radius: 25px 25px 0 0;
    margin: 0px 20px;
    padding: 20px 0;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* gap: 10vh; */
    color: white;
}

#footer h3{
    color: white;
}

#footer a{
    background-color: white;
    color: #1e1e1e;
    padding: 3px;
    border-radius: 10px;
}


/* STYLES FOR PHONE */

@media (max-aspect-ratio: 20/10) {

    .navbar{
        margin: 0 20px;
        padding: 10px 20px;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
    }
    
    .navLinks{
        display: none;
    }

    #aboutMe{
        background-color: #1e1e1e;
        border-radius: 25px;
        margin: 0px 20px;
        padding: 80px 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5vh;
    }

    .imgProfile img{
        margin: 0 50px;
        width: 25vh;
        border-radius: 50%;
    }

    .profileDesc{
        margin: 0 40px;
        color: white;
        width: 80%;
        font-size: 1rem;
        text-align: justify;
    }

    .profileDesc h1, h3{
        text-align: center;
    }

    .socialMedia{
        display: flex;
        justify-content: center;
        gap: 20px;
    }

    .socMedCard{
        width: 33px;
        height: 33px;
        border-radius: 10px;
    }

    .cardsContainer{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 0 20px;
        gap: 5vh;
    }

    .cardExpertise{
        background-color: #1e1e1e;
        border-radius: 25px;
        width: 90vw;
        height: 50vh;
    }

    .cardExpertise h3{
        font-size: 1.1rem;
        color: white;
        margin-bottom: 10px;
    }

    #techs h1{
        color: white;
        font-size: 2.3rem;
    }

    #techs h2{
        color: #f7de00;
        font-size: 1.2rem;
    }

    #techs h4{
        font-size: 0.7rem;
    }

    .techDivider{
        background-color: white;
        width: 5px;
    }

    #portfolioShowcase h1{
        color: #1e1e1e;
        font-size: 3rem;
        text-align: center;
    }

    .portoCardsContainer{
        width: 90vw;
        margin: 0px 20px;
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-columns: auto;
    }

    .portoCard{
        width: 85vw;
        height: 35vh;
        border-radius: 25px;
        margin: 20px;
    }

    /* #footer{
        background-color: #1e1e1e;
        border-radius: 25px 25px 0 0;
        margin: 0px 20px;
        padding: 20px 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1vh;
        color: white;
    }
    
    #footer h3{
        color: white;
    }
    
    #footer a{
        background-color: white;
        color: #1e1e1e;
        padding: 3px 7px;
        border-radius: 10px;
    } */

  }